.pe_container{
	width: auto;
	float: left;
}

/*.pe_toolbar{
	min-height: 12px;
	background: rgba(50,50,255,0.5);
	width: 100%;
}

.pe_toolbar .pe_toolbar_select{
	width: 50px;
	background: rgba(250,250,100,0.5);
	height: 50px;
	position: absolute;
	z-index: 0;
}*/