.pe_container{
	width: auto;
	float: left;
}

.pe_toolbar{
	min-height: 12px;
	height: 12px;
	background: rgba(50,50,255,0.5);
	width: 100%;
	position: relative;
}

.pe_toolbar .pe_toolbar_container{
	
	width: 100%;
	background: rgba(50,50,50,0.5);
	position: absolute;
	height: inherit;
}

.pe_toolbar:hover .pe_toolbar_container{
	height: 100px;
	-webkit-transition: height 1s; /* Safari */
    transition: height 1s;
}